@model IEnumerable<Category>  

<div class="card-heading">
                                        <a data-toggle="collapse" data-target="#collapseTwo">Category</a>
                                    </div>
                                    <div id="collapseTwo" class="collapse show" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="shop__sidebar__brand">

                                                <ul>
                                                    @foreach(var item in Model)
                                                    {
                                                        <li><a href="#">@item.Name</a></li>
                                                    
                                                    }
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            
    
